.about-review {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.about-review > div {
  display: flex;
  margin-right: 16px;
}
.about-review img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 2px solid white;
  margin-left: -12px;
}
.about-review strong {
  font:
    64px/1 var(--font-display),
    sans-serif;
}
.about-review > span {
  font-size: 16px;
}
.about-review i {
  color: #ff691e;
  font-style: normal;
  font-size: 20px;
}
