.contact {
  position: relative;
  overflow: clip;
  margin-bottom: 40px;
}
.contact-accessible {
  position: absolute;
  width: 1px;
  height: 1px;
  clip-path: inset(50%);
  overflow: hidden;
}
.contact-marquee {
  display: flex;
}
.contact-marquee > div {
  display: flex;
  width: max-content;
  animation: contact-run 35s linear infinite;
}
.contact-marquee span {
  flex: none;
  margin-right: 40px;
  font-family: var(--font-display), sans-serif;
  font-size: clamp(48px, 11.107px + 9.8382vw, 200px);
  line-height: 1;
  text-transform: uppercase;
  opacity: 0.5;
}
.contact-marquee[data-stroke='true'] span {
  color: transparent;
  -webkit-text-stroke: 1px #000;
}
.contact-marquee[data-stroke='true'] > div {
  animation-direction: reverse;
}
.contact-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 28px 60px;
  border: 2px solid #000;
  border-radius: 999px;
  background: #eaffb1;
  white-space: nowrap;
  transition: background 0.3s;
}
.contact-button:hover {
  background: #fdbc53;
}
.contact-button-text {
  font-family: var(--font-display), sans-serif;
  font-size: 60px;
  line-height: 1;
  text-transform: uppercase;
}
.contact-button i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 100px;
  background: #000;
  color: #fff;
  font-size: 40px;
  font-style: normal;
}
@keyframes contact-run {
  to {
    transform: translateX(-50%);
  }
}
@media (max-width: 991px) {
  .contact-button {
    padding: 16px 40px;
  }
  .contact-button-text {
    font-size: 32px;
  }
  .contact-button i {
    width: 50px;
    height: 50px;
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  .contact-button {
    gap: 12px;
    padding: 12px 12px 12px 28px;
  }
  .contact-button-text {
    font-size: 28px;
  }
  .contact-button i {
    width: 40px;
    height: 40px;
    font-size: 24px;
  }
}
@media (max-width: 479px) {
  .contact-button {
    gap: 4px;
    padding: 8px 8px 8px 16px;
  }
  .contact-button-text {
    font-size: 22px;
  }
  .contact-button i {
    width: 28px;
    height: 28px;
    font-size: 20px;
  }
}
